/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.ant-list-item:hover{
  background-color: #eee !important;
}


.logo {
  width: 95%;
}

.loginButton {
  width: 100%;
  border-radius: 3px;
}

.ant-input-affix-wrapper {
  border-radius: 3px;
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
  min-height: 660px;
}




/* .listadoPacientes .ant-list-item:nth-child(odd){
  background-color: 'aliceblue';
}

.listadoPacientes .ant-list-item:nth-child(even){
  background-color: 'red';
} */